ul.simpleTabsNavigation li#tabIncptvEXFG a {
    background-image: url(../media/incptv_favicon.png);
}

ul.simpleTabsNavigation li.tabIncptvMEFG a {
    background-image: url(../media/multiple_extra_field_groups.png);
}

ul.simpleTabsNavigation li.tabIncptvMEFG a {
    background-image: url(../media/multiple_extra_field_groups.png);
}

ul.k2TabsNavigation li.tabIncptvMEFG
{
    margin-left: 4px !important;
}